<html lang="ru">
    <head>
        <title>Веб-сервер</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></meta>
    </head>
    <body>
        <h1>Что то вроде главной страницы в корне.</h1>
        <p>{{ data }}</p>
        <p><a href="./admin/">Доступ администратору</a></p>
        <p><a href="./api/category/">REST API Category</a></p>
        <p><a href="./api/product/">REST API Product</a></p>
        <p><a href="./api/profile/">REST API Profile</a> (многие ко многим)</p>
</html>